<div class="container py-5">

  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Edit the Restaurant <i class="fas fa-key"></i></h5>
          <hr>
          <form method="POST" action="/restaurants/{{restaurant._id}}/edit">
            {{!-- Name --}}
            <div class="mb-3 row">
              <label for="length" class="col-md-3 col-form-label">
                Name
              </label>
              <div class="col-md-9">
                <input type="text" name="name" class="form-control" id="name" value="{{restaurant.name}}">
              </div>
            </div>
            {{!-- English name --}}
            <div class="mb-3 row">
              <label for="length" class="col-md-3 col-form-label">
                English Name
              </label>
              <div class="col-md-9">
                <input type="text" name="name_en" class="form-control" id="name_en" value="{{restaurant.name_en}}">
              </div>
            </div>
            {{!-- Category --}}
            <div class="mb-3 row">
              <label for="length" class="col-md-3 col-form-label">
                Category
              </label>
              <div class="col-md-9">
                <input type="text" name="category" class="form-control" id="category" value="{{restaurant.category}}">
              </div>
            </div>
            {{!-- Image --}}
            <div class="mb-3 row">
              <label for="length" class="col-md-3 col-form-label">
                Image
              </label>
              <div class="col-md-9">
                <input type="text" name="image" class="form-control" id="image" value="{{restaurant.image}}">
              </div>
            </div>
            {{!-- Location --}}
            <div class="mb-3 row">
              <label for="length" class="col-md-3 col-form-label">
                Location
              </label>
              <div class="col-md-9">
                <input type="text" name="location" class="form-control" id="location" value="{{restaurant.location}}">
              </div>
            </div>
            {{!-- Phone --}}
            <div class="mb-3 row">
              <label for="length" class="col-md-3 col-form-label">
                Phone
              </label>
              <div class="col-md-9">
                <input type="text" name="phone" class="form-control" id="phone" value="{{restaurant.phone}}">
              </div>
            </div>
            {{!-- Google map --}}
            <div class="mb-3 row">
              <label for="length" class="col-md-3 col-form-label">
                Google map
              </label>
              <div class="col-md-9">
                <input type="text" name="google_map" class="form-control" id="google_map" value="{{restaurant.google_map}}">
              </div>
            </div>
            {{!-- Rating --}}
            <div class="mb-3 row">
              <label for="length" class="col-md-3 col-form-label">
                Rating
              </label>
              <div class="col-md-9">
                <input type="range" class="form-range" min="1" max="5" step="0.1" name="rating" id="rating" value="{{restaurant.rating}}">
              </div>
            </div>
            {{!-- Description --}}
            <div class="mb-3 row">
              <label for="length" class="col-md-3 col-form-label">
                Description
              </label>
              <div class="col-md-9">
                <input type="text" name="description" class="form-control" id="description" value="{{restaurant.description}}">
              </div>
            </div>

            <button class="btn btn-success" type="submit">Edit</button>
          </form>
        </div>

        
      </div>
    </div>
  </div>
</div>