{{!-- Banner --}}
<div class="banner"></div>

<div class="container py-5">

  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-plus-circle"></i> Add New Restaurant</h5>
          <hr>

          <form class="row g-3" method="POST" action="/restaurants">
            {{!-- Name --}}
            <div class="col-md-12 d-flex align-items-center justify-content-between">
              <label for="name" class="col-md-3 col-form-label">Name <span class="required">*</span> </label>
              <input type="text" name="name" class="form-control" id="name" value="{{data.name}}" required style="width: 75%;">
            </div>
            {{!-- English name --}}
            <div class="col-md-12 d-flex align-items-center justify-content-between">
              <label for="name_en" class="col-md-3 col-form-label">English Name</label>
              <input type="text" name="name_en" class="form-control" id="name_en" value="{{data.name_en}}" style="width: 75%;">
            </div>
            {{!-- Category --}}
            <div class="col-md-12 d-flex align-items-center justify-content-between">
              <label for="category" class="col-md-3 col-form-label">Category <span class="required">*</span></label>
              <input type="text" name="category" class="form-control" id="category" value="{{data.category}}" required style="width: 75%;">
            </div>
            {{!-- Image --}}
            <div class="col-md-12 d-flex align-items-center justify-content-between">
              <label for="image" class="col-md-3 col-form-label">Image <span class="required">*</span></label>
              <input type="text" name="image" class="form-control" id="image" value="{{data.image}}" required style="width: 75%;">
            </div>
            {{!-- Location --}}
            <div class="col-md-12 d-flex align-items-center justify-content-between">
              <label for="location" class="col-md-3 col-form-label">Location <span class="required">*</span></label>
              <input type="text" name="location" class="form-control" id="location" value="{{data.location}}" required style="width: 75%;">
            </div>
            {{!-- Phone --}}
            <div class="col-md-12 d-flex align-items-center justify-content-between">
              <label for="phone" class="col-md-3 col-form-label">Phone <span class="required">*</span></label>
              <input type="text" name="phone" class="form-control" id="phone" value="{{data.phone}}" required style="width: 75%;">
            </div>
            {{!-- Google map --}}
            <div class="col-md-12 d-flex align-items-center justify-content-between">
              <label for="google_map" class="col-md-3 col-form-label">Google map <span class="required">*</span></label>
              <input type="text" name="google_map" class="form-control" id="google_map" value="{{data.google_map}}" required style="width: 75%;">
            </div>
            {{!-- Rating --}}
            <div class="col-md-12 d-flex align-items-center justify-content-between">
              <label for="rating" class="col-md-3 col-form-label">Rating <span class="required">*</span></label>
              <input type="range" class="form-range" min="1" max="5" step="0.1" name="rating" id="rating" required style="width: 75%;">
            </div>
            {{!-- Description --}}
            <div class="col-md-12 d-flex align-items-center justify-content-between">
              <label for="description" class="col-md-3 col-form-label">Description <span class="required">*</span></label>
              <input type="text" name="description" class="form-control" id="description" value="{{data.description}}" required style="width: 75%;">
            </div>
            {{!-- Button --}}
            <div class="col-12">
              <button class="btn btn-success" type="submit">Create</button>
            </div>
          </form>
        
        </div>
      </div>
    </div>
  </div>
</div>